body {
  background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20240522/pngtree-abstract-cloudy-background-beautiful-natural-streaks-of-sky-and-clouds-red-image_15684333.jpg");
  background-size: cover; /* Hace que cubra toda la pantalla */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita que se repita */
  background-attachment: fixed; /* Hace que el fondo no se mueva al hacer scroll */
}


h1{
    color: red;
}



table{
    border: 1px solid black;
    border-collapse: collapse;
    width: 20%; 
}

tr,td{
    border: 1px solid black;
}   

#tablas{
    display: flex;
    grid-template-columns: auto auto auto auto auto auto ;
    gap: 40px;
    width: 60%;
    height: 100px;
    flex-wrap:wrap;
    padding: 50px;
}

h1{
    color: red;
}


caption {
      background-color: #0d47a1;
      color: white;
      font-weight: bold;
      padding: 8px;
      text-transform: uppercase;
      font-size: 16px;
    }

.highlight{
    background-color: rgb(43, 7, 126);
    width:60%;
    margin-left: 20%;
    margin-right: 20%;
    font-size: 30px;
}

.formulario{
    display: flex;
    flex-direction: column;
    width: 50%;
}