/* Fondo general */
body {
  font-family: Arial, sans-serif;
  background-image: url(https://img.freepik.com/foto-gratis/vista-angulo-hombre-musculoso-irreconocible-preparandose-levantar-barra-club-salud_637285-2497.jpg?semt=ais_hybrid&w=740&q=80);
  background-size: cover;   /* hace que la imagen cubra toda la pantalla */
  background-repeat: no-repeat; /* evita que se repita */
  background-position: center; 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* ocupa toda la pantalla */
  margin: 0;
}

/* Contenedor del formulario */
.contenedor {
  background: #ffffff;
  padding: 200px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  width: 350px;
  text-align: center;
}
.row {
  display: flex;        /* activa flexbox */
  gap: 20px;            /* espacio entre los campos */
}

.campo {
  flex: 1;              /* cada campo ocupa el mismo ancho */
}

.gif-esquina {
  position: fixed;       /* se queda fijo aunque hagas scroll */
  bottom: 20px;          /* distancia desde abajo */
  right: 20px;           /* distancia desde la derecha */
  width: 150px;          /* tamaño del gif */
  height: auto;          /* mantiene proporción */
  z-index: 1000;         /* se asegura de estar encima de otros elementos */
}



/* Título */
.contenedor h1 {
  margin-bottom: 20px;
  color: #9f3800;
  padding: 10px;
}

/* Formulario en cuadrícula */
form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px; /* espacio entre elementos */
}

/* Etiquetas alineadas */
label {
  text-align: left;
  font-weight: bold;
  color: #080303;
}

/* Campos de entrada */
input {
  width: 90%;
  padding: 10px;
  border: 1px solid #030000;
  border-radius: 6px;
  margin-bottom: 20px; /* separa cada campo hacia abajo */
}

/* Botón */
button {
  background-color: #4CAF50;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.3s ease;
}

button:hover {
  background-color: #45a049;
}